body {
  background-color: #1e1e1e; /* ciemny szary */
  color: #f0f0f0;           /* jasny tekst */
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #444;
  text-align: left;
}

th {
  background-color: #333;
}

tr:nth-child(even) {
  background-color: #2a2a2a;
}

tr:hover {
  background-color: #444;
}

select {
  padding: 5px;
  background-color: #333;
  color: #f0f0f0;
  border: 1px solid #555;
  border-radius: 4px;
}

#timer {
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
}

button, #restart {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #333;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover, #restart:hover {
  background-color: #555;
}

#tooltip {
  position: absolute;
  display: none;
  border: 2px solid #ccc;
  background-color: #222;
  padding: 5px;
  border-radius: 6px;
  max-width: 250px;
  z-index: 10;
}

#tooltip img {
  width: 100%;
  height: auto;
  display: block;
}
